body {
  background-color: blueviolet;
}

#movingBox {
  width: 100px;
  height: 100px;
  background-color: lightslategray;
  position: absolute;
  transition: 2s;
  border-radius: 50px;
}

.flex {
  justify-content: center;
  display: flex;
  align-items: center;
}
.fast-box {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: fasterbox;
  animation: fasterbox 1s infinite;
}

@keyframes fasterbox {
  0% {
    background-color: red;
    width: 40px;
    height: 40px;
    top: 0px;
    left: 0px;
  }
  99% {
    background-color: blue;
    width: 40px;
    height: 40px;
    top: 1000px;
    left: 0px;
  }
  100% {
    background-color: blue;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
  }
}
